<!DOCTYPE html>
<html lang="en">
<head>
    <title>Register</title>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Link -->
    <!-- <link rel="stylesheet" href="themify-icons/themify-icons.css"> -->
    <link rel="stylesheet" href="css/style.css">
    <!-- <link rel="stylesheet" href="css/responsive.css"> -->

</head>
<body>
    <div class="form-container">
        <div class="full-page">
            <form onsubmit="return false;" id="form">
                <h3>register now</h3>
                <input id="username" type="text" name="username" placeholder="Enter your UserName" required class="box">
                <input id="email" type="text" name="Email" placeholder="Enter your Email" required class="box">
                <input id="password" type="password" name="password" placeholder="Enter your Password" required class="box">
                <input id="confirm_password" type="password" name="cpassword" placeholder="Confirm your Password" required class="box">
                <input type="submit" name="submit" value="Register now" class="btn">
                <p>Already have an account? <a href="/login">Login now</a></p>
             </form>
        </div>
    </div>
</body>
<script src = "js/register.js"></script>
</html>